<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #container {margin:0px auto;width: 500px;height: 375px;border: 10px #333 solid;}
    #videoElement {width: 500px;height: 375px;background-color: #666;}
</style>
<body>
    <div id="container">
        <video autoplay="true" id="videoElement"></video><br><br>      
        <button onclick="takeSnapshot()">김치~</button>  
    </div>

    <script>
        var video = document.querySelector("#videoElement")

        if(navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                video.srcObject = stream;
            })
            .catch(function (error) {
                console.log("다시 확인하세요!")
            });
        }

        function takeSnapshot() {
            var canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            var ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

            // Convert the canvas content to a data URL representing a PNG image
            var dataURL = canvas.toDataURL('image/png');

            // Send the image data to the server
            fetch('/upload', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ image: dataURL }),
            })
            .then(response => response.json())
            .then(data => console.log('Success:', data))
            .catch(error => console.error('Error:', error));
        }
    </script>

</body>
</html>
