<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>출결관리 프로그램</title>
</head>
<body>
  <div>
    <form>
        <table>
            <tr>
                <th>이름</th>
                <th>번호</th>
                <th>이미지</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
        <input type="submit" placeholder="회원가입">
    </form>
  </div>

</body>
</html>
